@model X.PagedList.IPagedList<BookStore.Models.User>
@using X.PagedList.Mvc.Core
@{
	ViewData["Title"] = "Index";
}


@await Html.PartialAsync("_SideBar")

<!-- Main content -->
<div class="card shadow">
	<div class="card-body">
		<table class="table table-hover">
			<thead class="table-dark">
				<tr>
					<th>Id</th>
					<th>UserName</th>
					<th>Email</th>
					<th>CreatAt</th>
					<th>Address</th>
					<th>Status</th>
					<th>Role</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@Html.DisplayFor(modelItem => item.UserId)</td>
						<td>@Html.DisplayFor(modelItem => item.Username)</td>
						<td>@Html.DisplayFor(modelItem => item.Email)</td>
						<td>@Html.DisplayFor(modelItem => item.CreateAt)</td>
						<td>@Html.DisplayFor(modelItem => item.Address)</td>
						<td>@Html.DisplayFor(modelItem => item.Status)</td>
						<td>@Html.DisplayFor(modelItem => item.RoleNavigation.RoleName)</td>
						<td>
							<a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-sm btn-warning">
								<i class="fas fa-edit"></i> Edit
							</a>
							<a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-sm btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa?');">
								<i class="fas fa-trash"></i> Delete
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
		<div class="d-flex justify-content-center">
			<ul class="pagination">
				@if (Model.HasPreviousPage)
				{
					<li class="page-item">
						<a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })">
							Previous
						</a>
					</li>
				}

				<!-- Hiển thị các số trang -->
				@for (var i = 1; i <= Model.PageCount; i++)
				{
					<li class="page-item @(i == Model.PageNumber ? "active" : "")">
						<a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
					</li>
				}

				@if (Model.HasNextPage)
				{
					<li class="page-item">
						<a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })">
							Next
						</a>
					</li>
				}
			</ul>
		</div>
	</div>
</div>

