@model BookStore.Models.Book

	<div id="header-wrap">


		<header id="header">
			<div class="container-fluid">
				<div class="row">

					<div class="col-md-2">
						<div class="main-logo">
							<a href="index.html"><img src="images/main-logo.png" alt="logo"></a>
						</div>

					</div>

					<div class="col-md-10">

						<nav id="navbar">
							<div class="main-menu stellarnav">
								<ul class="menu-list">
									<div class="action-menu">

										<div class="search-bar">
											<a href="#" class="search-button search-toggle" data-selector="#header-wrap">
												<i class="icon icon-search"></i>
											</a>
											<form role="search" method="get" class="search-box">
												<input class="search-field text search-input" placeholder="Search"
													   type="search">
											</form>
										</div>
									</div>
									<li class="menu-item has-sub">
										<a href="#pages" class="nav-link active">Pages</a>
										<ul>
											<li class="menu-item">
												<a href="#featured-books"
												   class="nav-link">Featured</a>
											</li>
											<li class="menu-item">
												<a href="#popular-books" class="nav-link">Popular</a>
											</li>
											<li class="menu-item">
												<a href="#special-offer" class="nav-link">Offer</a>
											</li>
											<li class="menu-item">
												<a href="#latest-blog" class="nav-link">Articles</a>
											</li>
											<li class="menu-item">
												<a href="#download-app" class="nav-link">
													Download
													App
												</a>
											</li>
										</ul>

									</li>

									<a href="#" class="cart for-buy">
										<i class="icon icon-clipboard"></i><span>
											Cart
										</span>
									</a>
									<li class="menu-item">
										<a href="profile.html"
										   class="nav-link btn btn-outline-dark rounded-pill m-0 icon icon-user"
										   target="_blank"><i class=""></i><span>Account</span></a>
									</li>

								</ul>

								<div class="hamburger">
									<span class="bar"></span>
									<span class="bar"></span>
									<span class="bar"></span>
								</div>

							</div>
						</nav>

					</div>

				</div>
			</div>
		</header>

	</div><!--header-wrap-->

	<section id="book-detail" style="padding-bottom: 0;" class="leaf-pattern-overlay">
		<div class="corner-pattern-overlay"></div>
		<div class="container">
			<div class="row justify-content-center">

				<div class="col-md-8">

					<div class="row">

						<div class="col-md-6">
							<figure class="products-thumb">
								<img src="@Model.Image" alt="book" class="single-image">
							</figure>
						</div>

						<div class="col-md-6">
							<div class="product-entry">
								<h2 class="section-title divider">Best Selling Book</h2>

								<div class="products-content">
									<div class="author-name">By @Model.Author</div>
									<h3 class="item-title">@Model.Title</h3>
									<p>
										@Model.Description
									</p>
									<div class="item-price">$ @Model.Price</div>
									<div class="btn-wrap">
										<a href="#" class="btn-accent-arrow">
											Add to card <i class="icon icon-ns-arrow-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- / row -->

				</div>

			</div>
		</div>
	</section>

	<section id="special-offer" class="bookshelf pb-5 mb-5">

		<div class="section-header align-center">
			<div class="title">
				<span>Grab your opportunity</span>
			</div>
			<h2 class="section-title">Related Books</h2>
		</div>

		<div class="container">
			<div class="row">
				<div class="inner-content">
					<div class="product-list" data-aos="fade-up">
						<div class="grid product-grid">

							@foreach (var randomBook in ViewBag.random4Book){
								<div class="product-item">
									<figure class="product-style">
										<img src="@randomBook.Image" alt="Books" class="product-item" >
										<button type="button" class="add-to-cart" data-product-tile="view-detail"
												onclick="window.location.href='@Url.Action("BookDetail", "HomePage", new { id = randomBook.BookId })'">
											View Detail
										</button>
									</figure>
									<figcaption>
										<h3>@randomBook.Title</h3>
										<span>@randomBook.</span>
										<div class="item-price">
											<span class="prev-price">$ @randomBook.Price</span>$ 40.00
										</div>
								</div>
							}
							

							
							</div>
						</div><!--grid-->
					</div>
				</div><!--inner-content-->
			</div>
		</div>
	</section>

	
